{% load static %}

<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="{%static 'css\estilo.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/slick.css'%}"/>

    <title>Python</title>

</head>
<body>

     <header class="menun-principal">
        <main>
            <div class="header1">
                <div class="logo">
                     <a href="{%url 'inicio'%}"><img src='{%static 'img/logo.jpg'%}' width=160 height=60/></a>
                </div>
                                
            </div>
                
        </main>
    </header>
    <main class="col-100 menu-urls">
        <div class="header2">
            <div class="menu">
                <ul>
                    <li><a href="{% url 'inicio'%}">Home</a></li>
                    <li><a href="{% url 'curso'%}">Curso</a></li>
                    <li><a href="{% url 'contato'%}">Contato</a></li>
                    <li><a href="{% url 'grafico'%}">Resultados</a></li>
                </ul>
            </div>
            <div class="busca">
                <input placeholder="Buscar" type="text"/>

            </div>
        </div>
    </main>
      <div class="logo_python">
         <img src="{%static 'img/p2.png'%}"/>
      </div>
      <div class="title_python">
         <h2>Curso de Python</h2>
      </div>
      <div class="text_python">
      <strong><h3>O que você aprenderá</h3></strong>
      <p><img class="icon" src="{%static 'img/py.png'%}"/>Você será capaz de criar programas sofisticados com a linguagem Python.</p>
      <p><img class="icon" src="{%static 'img/py.png'%}"/>Você será capaz de se tornar um especialista em inteligência artificial utilizando Python.</p>
      <p><img class="icon" src="{%static 'img/py.png'%}"/>Você será capaz de se tornar um cientista de dados utilizando Python.</p>
      <p><img class="icon" src="{%static 'img/py.png'%}"/>Você será capaz de se tornar um especialista em programação web com algum framework Python.</p>
      
      <strong><h3>Requisitos</h3></strong>
      <ol>
         <li style="list-style-type: square">Necessário conexão com a internet para baixar os softwares necessários;</li>
         <li style="list-style-type: square">Necessário um computador com Windows, Linux ou Mac instalados; e,</li>
         <li style="list-style-type: square">É necessário ter nas suas últimas versões (versões mais atualizadas) o Windows, ou Linux, ou Mac.</li>
      </ol>

      <strong><h3>Descrição</h3></strong>
      <p>A demanda por programadores Python nunca esteve tão alta, afinal, Python é uma das linguagens mais utilizadas no mundo e requisito para se trabalhar com <strong>Ciência de Dados</strong> e <strong>Inteligência Artificial</strong>.</p>
      <p>Além disso, a demanda por profissionais Python para trabalhar com a Internet utilizando algum dos frameworks web mais populares como Django, Flask ou Tornado tem crescido muito nos últimos anos.</p>
      <p>Por ser uma linguagem de programação versátil, simples de aprender e muito poderosa, Python possui recursos que, apesar de simples de se utilizar, tornam o aprendizado muito divertido.</p>

      <strong><h3>Aprenda sobre:</h3></strong>
         - Variáveis e Tipos de Dados;;</br>
         - Estruturas Lógicas e Condicionais;</br>
         - Estruturas de Decisão e Repetição;</br>
         - Coleções (Listas, Tuplas, Sets, etc);</br>
         - Funções;</br>
         - Expressões Lambdas;</br>
         - Debugar seu código e tratar erros;</br>
         - Módulos;</br>
         - Leitura e Escrita em arquivos;</br>
         - Iteradores e Geradores;</br>
         - Decorators;</br>
         - Orientação a Objetos;</br>
         - Herança e Polimorfismo;</br>
         - Manipulação de Arquivos CSV e JSON;</br>
         - E muito mais!</br>
      </p>
      <p>Não deixe a oportunidade passar mais uma vez. Sua hora de aprender Python chegou!</p>
      <img src="{%static 'img/avaliacao.jpg'%}"/>
      <footer>
         <div class="col-100 footer">
         <div class="content">
         <div class="col-4">
            <h3><b>Desenvolvimento de Sistema</b></h3>
         </div>
         <div class="col-100 footer-2">
            <div class="content">
               <p>
                  Site criado para aula de desenvolvimento de sistemas - AC04 Turma de Banco de Dados
               </p>
            </div>
         </div>
      </footer>
   </body>
</html>