{%load static%}


<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="{%static 'css\estilo.css'%}">

    <title>DEVSIS_AC04</title>

</head>
<body>

     <header class="menun-principal">
        <main>
            <div class="header1">
                <div class="logo">
                    <a href="{%url 'inicio'%}"><img src="{%static 'img/logo.jpg'%}" width=160 height=60/></a>
                </div>
                                
            </div>
                
        </main>
    </header>
    <main class="col-100 menu-urls">
        <div class="header2">
            <div class="menu">
                <ul>
                    <li><a href="{% url 'inicio'%}">Home</a></li>
                    <li><a href="{% url 'curso'%}">Curso</a></li>
                    <li><a href="{% url 'contato'%}">Contato</a></li>
                    <li><a href="{% url 'grafico'%}">Resultados</a></li>
                </ul>
            </div>
            <div class="busca">
                <input placeholder="Buscar" type="text"/>

            </div>
        </div>
    </main>

    <div class="col-100">
        <div class="slider-principal">
            <img src="{%static 'img/banner-areas-de-negocios.jpg'%}"/>
            <img src="{%static 'img/banner-home.jpg'%}"/>
            <img src="{%static 'img/banner-treinamento.jpg'%}"/>            
        </div>
    </div>        

    <div class="col-100">
        <div class="content texto-destaque">
            <h1>
                <strong>
                    DEVSIS_AC04
        
                </strong> 
            </h1>
            <h3>
                Sobre o Site:
            </h3>
            <p>
                É uma plataforma que oferece cursos em português,
                <br/>tanto gratuitos como pagos, geralmente a valores populares.
                <br/>Os assuntos variam bastante e incluem Python, Java, Excel, HTML e SQL. 
                <br/>Todos os cursos são certificados.

            </p>
        <div class='content texto-destaque2'>
            <p>
                AS MUDANÇAS NUNCA MAIS VÃO ACONTECER DE FORMA TÃO LENTA COMO HOJE
                
            </p>
            <p>
                NÓS ACREDITAMOS NO PODER DA TECNOLOGIA E DO JOVEM.
                POR ISSO, CONVIDAMOS VOCÊ A BUSCAR IDEIAS NUNCA ANTES PENSADAS. 
                A USAR A CRIATIVIDADE, O CONHECIMENTO E A TECNOLOGIA PARA CRIAR O NOVO.
                PARA CRIAR O SEU E O NOSSO FUTURO.
                
            </p>
        </dv>
            
        </div>
              

    <div class="content" style="margin-left: 30%; float: left;">
        
            <img src="{%static 'img/excel.jpg'%}" height="65px" width="100px">
        
            <img src="{% static 'img/java.jpg'%}" height="80px" width="100px">
        
            <img src="{% static 'img/HTML.png'%}" height="80px" width="100px">
        
            <img src="{% static 'img/python.png'%}" height="80px" width="120px">
       
            <img src="{% static 'img/sql1.png'%}" height="75px" width="100px">
    </div>

<footer>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
    <div class="col-100 footer">
        <div class="content">
            <div class="col-4">
                <h3><b>Desenvolvimento de Sistema</b></h3>
                
                
    </div>
    <div class="col-100 footer-2">
    <div class="content">
       
        <p>
            Site criado para aula de desenvolvimento de sistemas - AC04 Turma de Banco de Dados
        </p>
    </div>

</footer>
<script type="text/javascript" src="{%static 'js/jquery.js'%}"></script>
<script type="text/javascript" src="{%static 'js/jquerymigrate.js'%}"></script>
<script type="text/javascript" src="{%static 'js/slick.min.js'%}"></script>    
<script type="text/javascript" src="{%static 'js/java.js'%}"></script>
</body>
</html>