{% load static %}

<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="{%static 'css\estilo.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/slick.css'%}"/>

    <title>HTML</title>

</head>
<body>

     <header class="menun-principal">
        <main>
            <div class="header1">
                <div class="logo">
                     <a href="{%url 'inicio'%}"><img src='{%static 'img/logo.jpg'%}' width=160 height=60/></a>
                </div>
                                
            </div>
                
        </main>
    </header>
    <main class="col-100 menu-urls">
        <div class="header2">
            <div class="menu">
                <ul>
                    <li><a href="{% url 'inicio'%}">Home</a></li>
                    <li><a href="{% url 'curso'%}">Curso</a></li>
                    <li><a href="{% url 'contato'%}">Contato</a></li>
                    <li><a href="{% url 'grafico'%}">Resultados</a></li>
                </ul>
            </div>
            <div class="busca">
                <input placeholder="Buscar" type="text"/>

            </div>
        </div>
    </main>
    <div class="html-logo">
    <img src="{%static 'img/HTML.png'%}" height="300px" width="300px">
    </div>
<div class="titulo-html">
        <h2>HTML-Basico</h2>
</div>
<div class="text-html" >
    <p>Resumo do curso <br/> </p>
<p>Este curso foi desenvolvido para auxiliar na criação de páginas web, 
<br/>por meio do Hyper Text Markup Language – mais conhecido como HTML.<br/>
    </p>
<p>Para quem nunca ouviu falar dessa linguagem de marcação, explicamos que se trata de uma das mais populares.
<br/> Aquilo que você vê quando abre uma página na internet é uma interpretação que seu navegador faz do HTML.<br/>
</p>
<p>Criada por Tim Berners-Lee em 1990, quando desenvolveu a revolucionária World Wide Web, essa linguagem 
<br/>utiliza um formato de código simples, que não precisa da ajuda de aplicativos especiais. Para criar um documento 
<br/>HTML, apenas o bloco de notas do computador já é o suficiente!
</p>
<p>Na parte inicial do curso, você se familiarizará ou relembrará os principais termos técnicos relacionados à internet,
<br/> com explicações sobre protocolos e linguagem de marcação.
</p>
<p>Depois, os conteúdos explicam a importância do HTML, seus principais comandos até chegar às dicas para você 
<br/>criar um documento, formatá-lo, criar listas e muito mais. Para completar, nosso curso ainda apresenta exercícios
<br/> que o ajudarão a fixar os conceitos apresentados.
</p>
<p>Fique de olho: após concluir este curso, você poderá prosseguir seus estudos com a opção HTML – Avançado.</p>

<p>Estrutura<br/>
Módulo 1 – Introdução<br/>
Módulo 2 – HTML e a web<br/>
Módulo 3 – Criando um documento HTML<br/>
Módulo 4 – Formatando um documento HTML<br/>
Módulo 5 – Criando listas<br/>
Módulo 6 – Inserindo imagens<br/>
Módulo 7 – Criando links<br/>
Módulo 8 – Combinando tags<br/>
Módulo 9 – Usando imagens mapeadas<br/>
</p>
<p>Pré-requisitos<br/>
Não há pré-requisitos para a realização deste curso.<br/>
</p>
<p> Idade mínima indicada: 16 anos.
    </p>
</div>
<footer>
    <div class="col-100 footer">
        <div class="content">
            <div class="col-4">
                <h3><b>Desenvolvimento de Sistema</b></h3>
                
                
    </div>
    <div class="col-100 footer-2">
    <div class="content">

        <p>
            Site criado para aula de desenvolvimento de sistemas, AC04 Turma de Banco de Dados
        </p>
    </div>
</div>
</footer>
</body>
</html>